body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.container-fluid{
    padding: 1.5% 7%;
}
.navbar{
    background-color: #3E54AC;
    border-radius: 0.5rem;
    padding: 0.6rem 2rem;
}
.navbar img{
    width: 8rem;
}
.navbar-nav{
    margin: 0.4rem 7rem 0 0;
}
.nav-link{
    margin: 0 0.7rem;
    color: white;
    font-size: 0.85rem;
    font-weight: 400;
}
.nav-link:hover{
    color: white;
}
.nav-link-big{
    position: absolute;
    background-color: #FF8B13;
    text-align: center;
    right: 1rem;
    width: 7.5rem;
    padding: 2.5rem 0.5rem;
}
.nav-link-big a{
    display: inline-block;
    color: white;
    font-size: 1.1rem;
    font-weight: 900;
    text-decoration: none;
    line-height: 1;
}
.main,.nav-bar{
    background-color: #f9fafd;
}
.main{
    padding-bottom: 4.5rem;
    border-bottom-right-radius: 250px;
}
.main-box{
    padding-top: 4rem;
}
.main-hr, .description-hr{
    width: 10%;
    border: 5px solid #FF8B13;
    background-color: #FF8B13;
}
.main-small-header, .description-small-header{
    margin-top: 7px;
    font-size: 1.5rem;
    font-weight: 700;
}
.main-large-header{
    font-size: 3.8rem;
    font-weight: 900;
}
.main-large-header-colored{
    display: block;
    color: #FF8B13;
    line-height: 1;
}
.main-icon{
    font-size: 1.5rem;
    margin: 15px 16px;
    opacity: 0.9;
}
.main-img{
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-top: -30px;
}
.main-img-1{
    background-color: #3E54AC;
    margin-top: 20px;
    height: 400px;
}
.main-img-2{
    background-color: #FC2947;
    height: 500px;
}
.main-img-3{
    background-color: #FF8B13;
    margin-top: 20px;
    height: 400px;
}
.description-box{
    padding-top: 9rem;
}
.description-small-header{
    line-height: 1.4;
    color: #303841;
    margin-right: 50px;
}
.description-box-2{
    margin-left: 45px;
}
.description-img{
    width: 6rem;
    margin-top: 20px;
}
.description-text{
    font-size: 0.85rem;
}
.description-text-2{
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
}
.description-btn{
    color: white;
    background-color: #FF8B13;
    border-radius: 2px;
    font-size: 0.85rem;
    font-weight: 700;
    text-decoration: none;
    margin-top: 30px;
    padding: 12px 25px;
}
.description-btn:hover{
    background-color: #fa8508;
}
.services{
    margin-top: 5rem;
    background-image: url("../images/bg-img.avif");
    border-top-left-radius: 300px;
    text-align: center;
}
.services-big-header{
    padding-top: 5rem;
    color: white;
    font-weight: 700;
}
.services-hr{
    width: 5%;
    border: 5px solid #FF8B13;
    background-color: #FF8B13;
    margin: 0.5rem auto;
}
.services-box{
    margin-top: 3rem;
    margin-left: 2rem;
    text-align: center;
}
.box-2{
    padding: 0 5rem;
}
.services-icon{
    color: white;
    background-color: #FF8B13;
    font-size: 2rem;
    padding: 1.5rem 1.5rem;
    border-radius: 100%;
}
.services-small-header{
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 0.5rem;
}
.services-text{
    color: white;
    font-weight: lighter;
    font-size: 0.85rem;
}
.testimonials{
    padding-top: 5rem;
}
.testimonials-large-header{
    font-size: 2.8rem;
    padding-top: 4rem;
    color: #3E54AC;
    font-weight: 900;
}
.testimonials-small-header{
    color: black, 0.8;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.5rem;
}
.testimonials-text{
    color: black, 0.8;
    font-weight: lighter;
    font-size: 0.85rem;
    margin-bottom: 30px;
}
.testimonials-hr{
    width: 10%;
    border: 5px solid #FF8B13;
    background-color: #FF8B13;
}
.testimonials-btn{
    color: white;
    background-color: #FF8B13;
    border-radius: 2px;
    font-size: 0.85rem;
    font-weight: 700;
    text-decoration: none;
    padding: 12px 25px;
}
.testimonials-box-2{
    padding: 1rem 3rem;
}
.carousel-control-prev,
.carousel-control-next{
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
  position: absolute;
  margin-top: 25%;
}
.carousel-left, .carousel-right{
    color: #fa8508;
    font-size: 1.6rem;
    margin-top: 50%;
}
.carousel-item-box{
    padding: 0.4rem 1.5rem;
    width: 70%;
    margin: 1rem auto;
    border: 1px solid #303841;
    border-radius: 10px;
    /* padding: 2rem ;  */
}
.testimonials-img{
    width: 25%;
    border-radius: 100%;
    margin-top: 0.2rem;
}
.testimonials-box-header{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-top: 0.2rem;
    margin-left: 1rem;
    margin-bottom: 15px;
}
.testimonials-box-span{
    display: block;
    font-weight: 300;
    color: #3E54AC;
}
.testimonials-box-text{
    margin-top: 20px;
    font-size: 0.85rem;
}